# Google Apps Script Web App URL
VITE_GAS_URL=https://script.google.com/macros/s/AKfycbwg8AEiXRb6iNahfhrRaF5Z_60yrKjRSXDd8RNjHToXF-1uqQlcbSWTbr_-JXpn3cbo/exec

# Gemini API Key (Vercel/Vite用には VITE_ プレフィックスが必要)
VITE_GEMINI_API_KEY=
